<div class="about-panel">
	<div class="social-media">
		<a href="http://www.facebook.com/kahne.raja" target="_blank"><img src="{{ site.baseurl }}/assets/global/facebook.png" alt=""></a>
		<a href="http://www.twitter.com/kahneraja" target="_blank"><img src="{{ site.baseurl }}/assets/global/twitter.png" alt=""></a>
		<a href="http://www.instagram.com/kahneraja" target="_blank"><img src="{{ site.baseurl }}/assets/global/instagram.png" alt=""></a>
		<a href="http://www.github.com/kahneraja" target="_blank"><img src="{{ site.baseurl }}/assets/global/github.png" alt=""></a>
	</div>

	<div>
		<img class="profile" src="{{ site.baseurl }}/assets/global/profile.jpg" alt="" class="src">
	</div>

	<div class="greeting">
		<p>Hi,</p>

		<p>I work with awesome people at Australia's best Tech Consultancy, <a href="http://www.readify.net" target="_blank">Readify</a>.</p>

		<p>I'm a violinist in various classical music ensembles.</p>

		<p>I paint and sell original artwork <a href="http://www.facebook.com/artkahne" target="_blank">@ArtKahne</a></p>
	</div>
</div>