.about-panel{
	padding: $padding-unit * 2;
	margin-bottom: $padding-unit * 2;
	padding-bottom: $padding-unit * 2;

	> div {
		margin-top: $padding-unit * 2;
		margin-bottom: $padding-unit * 4;
	}

	div.social-media{
		text-align: right;		
	}

	a {
		display: inline-block;
		border: 0;
	}

	img.button {
		width: 32px;
		height: 32px;
	}

	img.profile {
		width: $tile-width - $padding-unit * 4;
		height: $tile-width - $padding-unit * 4;
		margin-bottom: $padding-unit * 2;
	}
}