.home-panel {
    max-width: $left-max-width - $padding-unit * 2;
    display: inline-block;
    padding: $padding-unit;

    @include media-query($outer-max-width + $scollbar-width) {
        max-width: none;
    }    

    ul {
        margin-left: $padding-unit;

        @include media-query($outer-max-width + $scollbar-width) {
            text-align: center;
        }            
    }

    li {
        display: inline-block;
        box-shadow: 6px 6px 6px $grey-color-light;
        margin: $padding-unit;
        list-style-type: none;
        vertical-align: top;
        background-color: $grey-color-light;

        @include media-query($outer-max-width + $scollbar-width) {
            margin-bottom: $padding-unit * 8;
        }         

        a:hover {
            text-decoration: none;
        }

        div.thumbnail{
            img{
                width: $tile-width - $padding-unit * 4;
                height: $tile-width - $padding-unit * 4;  

            }
        }

        div.title {
            position: absolute;
            margin-top: -1 * $tile-width + $tile-width / 2 + $padding-unit * 4;
            width: $tile-width - $padding-unit * 4;
            height: $tile-width / 2 - $padding-unit * 4;
            overflow: hidden;
            background-color: black;
            opacity: 0.7;
            color: white;
            vertical-align: top;


            span {
                padding: $padding-unit * 2;
                display: block;
                text-decoration: none;
            }
        }    
    }

}