.home-panel {
    margin-left: 0;
    list-style: none;

    li {
        display: inline-block;
        box-shadow: 6px 6px 6px $grey-color-light;
        margin: $padding-unit;
        list-style-type: none;


        div {
            position: absolute;
            bottom: 0;
            background-color: black;
            opacity: 0.7;
            color: white;
            padding: $padding-unit * 2;

            @include media-query($outer-max-width + $scollbar-width) {
                position: static;
            }              
        }    

        img{
            width: 300px - $padding-unit * 4;
            height: 300px - $padding-unit * 4;

            @include media-query($outer-max-width + $scollbar-width) {
                width: 100%;
                height: auto;        
                max-width: none;
                padding: $padding-unit * 3;
            }                 
        }

        @include media-query($outer-max-width + $scollbar-width) {
            display: block;
        }            


    }  

}