.left-panel {
	max-width: $left-max-width - $padding-unit * 2;
	display: inline-block;
	padding: $padding-unit;

    @include media-query($outer-max-width + $scollbar-width) {
        max-width: none;
        padding: $padding-unit * 3;
    }		
}