.right-panel{

	max-width: $right-max-width - $padding-unit * 2;
	display: inline-block;
	padding: $padding-unit;

	ul {

		margin-left: 0;
	
		li {

			list-style-type: none;
			margin-bottom: $padding-unit * 2;
			padding-bottom: $padding-unit * 2;
			border-bottom: 1px solid $grey-color-light;

			a:hover {
				text-decoration: none;
			}

			div {

				display: inline-block;
				vertical-align: top;

				img {
					height: 50px;
					width: 50px;
					margin-top: $padding-unit;
					box-shadow: 4px 4px 4px $grey-color-light;
				}
			}

			div:last-child{
				padding-left: $padding-unit;
				width: $right-max-width - $padding-unit * 15;
			}

		}

	}

    @include media-query($outer-max-width + $scollbar-width) {
        display: none;
    }	
	
}